.nav {
  background-color: #ffffffdb;
  color: black;
  padding: 10px 0px;
  padding-left: 15px;
  font-weight: 300;
  font-size: large;
  backdrop-filter: blur(-10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.389);
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.items {
  height: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: 12px;
}

.items:hover {
  background-color: rgba(255, 255, 255, 0.609);
}

@media (max-width: 640px) {
  .nav {
    background-color: #ffffffdb;
    color: black;
    max-width: 100%;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 100%;
  }
  .list {
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}

.items {
    height: 100vh;
    width: 80vh;
    background-color: #ffffffdb;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: 12px;
  }
  .items:hover {
    background-color: rgba(255, 255, 255, 0.609);
  }  
}
/* <Link href="#" className='h-[100%] py-6 flex items-center px-5 hover:bg-slate-50'>Help</Link> mr-3 */
